.benefits{
    margin-top: 150PX;
}
.benefits_up, .benefits_low{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.benefits_up_img{
    text-align: center;
    width: 200px;
}
.benefits_up_text{
    margin-top: 20px;
 font-size: 20px;
}
.benefits_h2{
    text-align: center;
}